﻿@model List<Branch> 

<h1>Danh sách Chi nhánh</h1>

<table class="table">
    <thead>
        <tr>
            <th>Mã chi nhánh</th>
            <th>Tên chi nhánh</th>
            <th>Địa chỉ</th>
            <th>Thành phố</th>
            <th>Trạng thái</th>
            <th>Mã bưu chính</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var branch in Model)
        {
            <tr>
                <td>@branch.BranchId</td>
                <td>@branch.Name</td>
                <td>@branch.Address</td>
                <td>@branch.City</td>
                <td>@branch.State</td>
                <td>@branch.ZipCode</td>
            </tr>
        }
    </tbody>
</table>